:root {
    --color-black: #1A1A1A;
    --color-white: #FFF8F1;
    --color-gray: #989491;
    --color-primary: #009387;
    --color-secondary: #FF9C48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}