.section {
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--color-white);
    font-size: 4rem;
    text-wrap: wrap;
}

.titleVersion {
    color: var(--color-primary);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 900;
}