.section {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.logoContainer {
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: -30px;
    right: -30px;
}

.logo {
    object-fit: contain;
    animation:
        fadeIn 4s infinite,
        spin 1s;
}

.titleUp {
    font-size: 72px;
    background: linear-gradient(180deg, #96BBB7 41.67%, rgba(150, 187, 183, 0) 198.86%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
}

.titleDown {
    background: linear-gradient(180.9deg, #FFFFFF 54.85%, rgba(255, 255, 255, 0) 132.26%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
}

.subtitle {
    margin-top: 10px;
    color: #FFFFFF;
    max-width: 500px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes spin {
    0% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}